<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Default Suite" parallel="false">
    <listeners>
    	<listener class-name="org.uncommons.reportng.HTMLReporter"/>
    	<!-- <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/> -->
    </listeners>
    <test name="Default Test">
    	<parameter name="username" value="admin"/>
        <parameter name="password" value="password"/>
        <classes>
            <class name="testng_activities.Activity1" />
            <class name="testng_activities.Activity2" />
            <class name="testng_activities.Activity3" />
            <class name="testng_activities.Activity4_1" />
            <class name="testng_activities.Activity4_2" />
            <class name="testng_activities.Activity6" />
            <class name="testng_activities.Activity9" />
            <class name="testng_activities.Activity10" />
        </classes>
    </test>
    <test name="GroupTest">
    	<groups>
			<run>
				<include name="HeaderTests" />
				<!-- <exclude name="HeaderTests" /> -->
			</run>
		</groups>
        <classes>
            <class name="testng_activities.Activity5" />
        </classes>
    </test>
	<test name="DataProviderTest">
        <classes>
            <class name="testng_activities.Activity7"/>
        </classes>
    </test>
</suite>
